.top-icon{
  color: rgba(75, 75, 75, 0.9) !important;
}


.container{
  max-width: 1250px;
}

.right-side{
  width: 600px;
  margin-top: 75px;
  margin-left: 45px;
}

a {
	&:hover {
		text-decoration: none !important;
	}
}

a.kinda-link {

  color: #6c757d
  ;

	&:hover {
		cursor: pointer;
    text-decoration: none;
    color: #6c757d
    ;
	}
}

h6 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.listing{
  width: 550px !important;
}
